$primary-color: #1556d8;
$secondary-color: #06820e;
$nav-offset: 100px;
$section-horizontal-padding: 50px;

body {
    margin: 0;
    background: #eee;
    color: #000;
    font-family: 'Raleway', sans-serif;
    background-image: url(../assets/background.jpg);
    background-repeat: repeat-y;
}

header {
    position: fixed;
    width: 100%;
    margin-top: -$nav-offset;
    background-color: #fff;
    -webkit-box-shadow: 0 7px 8px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 7px 8px rgba(0, 0, 0, 0.12);
    box-shadow: 0 7px 8px rgba(0, 0, 0, 0.12);

    ul {
        list-style-type: none;
    }
}

main {
    margin-top: $nav-offset;
}

a {
    color: $primary-color;
    text-decoration: none;

    &:hover,
    &:active,
    &:focus {
        color: #0e3177;
        text-decoration: underline;
    }
}

.nav-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.section {
    // padding: $nav-offset 0;

    &-home {
        text-align: center;
    }

    &-about {
        background-color: #fff;
        padding: ($nav-offset / 2) $section-horizontal-padding;
    }

    &-portfolio {
        background-color: #eee;
        padding: ($nav-offset / 2) $section-horizontal-padding;
    }

    &-contact {
        background-color: #fff;
        padding: ($nav-offset / 2) $section-horizontal-padding;

        span {
            color: $secondary-color;
        }

        .social-icons {
            display: flex;
            justify-content: center;

            a {
                margin: 8px;
            }
        }
    }
}

.profile-img {
    border-radius: 50%;
    width: auto;
    height: auto;
    max-width: 300px;
    max-height: 300px;
}

.profile-title {
    margin: 40px 0;
}

h1,
h2,
h3 {
    &.lg-heading {
        font-size: 4rem;
    }

    &.md-heading {
        color: $primary-color;
    }

    &.sm-heading {
        color: $secondary-color;
    }
}

.project-item {
    img {
        max-width: 300px;
    }
}